[submodule "schedule-wise-backend"]
	path = schedule-wise-backend
	url = https://github.com/Postech-Code-Wizards/schedule-wise-backend.git
[submodule "authentication-wise-backend"]
	path = authentication-wise-backend
	url = https://github.com/Postech-Code-Wizards/authentication-wise-backend.git
[submodule "notification-wise-backend"]
	path = notification-wise-backend
	url = https://github.com/Postech-Code-Wizards/notification-wise-backend.git
[submodule "history-wise-backend"]
	path = history-wise-backend
	url = https://github.com/Postech-Code-Wizards/history-wise-backend.git
